.esperanto{
	font-size:16px;
	font-family:Georgia, Sans, FreeSans, Verdana, Arial;
}

.esperanto h1,.esperanto h2,.esperanto h3,.esperanto h4,.esperanto h5{
	text-align:center;
	font-variant:normal;
	padding:0px;
}
.esperanto h1{
	line-height:30px;
	font-size:22px;
	margin-bottom:10px;
	margin-top:50px;
}
.esperanto h2{
	margin-top:60px;
	font-size:20px;
	margin-bottom:30px;
}
.esperanto h3{
	font-size:16px;
	margin-bottom:30px;
}
.esperanto h4{
	margin-bottom:20px;
	margin-top:30px;
}


.esperanto p{
	font-size:15px;
	line-height:25px;
	/*text-align:justify;*/
	text-indent:30px;
	margin:0px;
}

#footnotes{
	margin-top:20px;
}

#footnotes > p{
	font-size:13px;
	line-height:20px;
	text-indent:0px;
}
.esperanto blockquote.verse{
	display: table;
	margin: 0 auto;
	margin-bottom:30px;
	margin-top:20px;
}
.esperanto blockquote.verse p{
	text-align:left;
	margin-top:10px;
	margin-bottom:10px;
	text-indent:0px;
	font-style:italic;
}
.esperanto blockquote.verse p.center{
	text-align:center;
	margin-top:20px;
}
.esperanto blockquote.quote p{
	margin-left:10px;
	font-style:italic;
	text-align:left;
	margin-top:10px;
	margin-bottom:10px;
	text-indent:0px;
}
.esperanto p.note{
	text-align:right;
	font-style:italic;
	margin-bottom:10px;
}
.esperanto p.signed{
	text-align:right;
	font-style:italic;
	margin-bottom:10px;
}
.esperanto p.center{
	font-style:italic;
	text-align:center;
	margin-top:10px;
	margin-bottom:10px;
}
.esperanto p.image{
	margin-top:20px;
	margin-bottom:20px;
	text-align:center;
	text-indent:0px;
	font-size:14px;
}
.esperanto p.small{
	text-indent:0px;
	font-size:14px;
	line-height:20px;
}
.esperanto table.contents{
	width:100%;
}
.esperanto p.hr{
	text-indent:0px;
	text-align:center;
	font-size:20px;
	margin:20px;
}
.esperanto div.title{
	margin-bottom:90px;
	text-align:center;
}
.esperanto div.title p.author{
	font-size:17px;
	text-indent:0px;
	margin-bottom:10px;
}
.esperanto div.title p.translator{
	font-size:15px;
	text-indent:0px;
}
.esperanto img{
	margin:4px;
}
