<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<title>{% block title %}{{ title }}{% endblock %} - Libraro</title>
		<link rel="stylesheet" type="text/css" href="/media/style.css" />
		<link rel="icon" type="image/png" href="/media/favicon.png" />
		<script type="text/javascript" src="/media/jquery.js"></script>
		<script type="text/javascript" src="/media/main.js"></script>
		{% block includes %}{% endblock %}
	</head>
	<body>
		<div id="header">
			<a href="/"><img src="/media/title.png" style="float:left"/></a>
			<div id="menu_bar">
				<div class="menu_item{% ifequal active_tab 'home' %} menu_item_active{% endifequal %}"><a href="/">About</a></div>
				<div class="menu_item{% ifequal active_tab 'read' %} menu_item_active{% endifequal %}"><a href="/read/">Read</a></div>
				<div class="menu_item{% ifequal active_tab 'contribute' %} menu_item_active{% endifequal %}"><a href="/contribute/">Contribute</a></div>
			</div>		
		</div>
		<div id="center">
			<div id="side_bar">
			{% block sidebar %}
			{{ sidebar }}
			{% endblock %}
			{% block latest %}
			
			{% if additions %}
			<div class="box">
			<h1>Latest additions:</h1>
			<ul>
			{% for i in additions %}
				<li><a href="{{ i.fullurl }}">{{ i.title.eo }}</a></li>
			{% endfor %}
			</ul>
			</div>
			{% endif %}

			{% endblock %}
			<script type="text/javascript"><!--
			google_ad_client = "pub-2034760890278656";
			/* Libraro sidebar */
			google_ad_slot = "5404811055";
			google_ad_width = 300;
			google_ad_height = 250;
			//-->
			</script>
			<script type="text/javascript"
			src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>
			</div>
			<div id="content">
			{% block content %}{{ content|safe }}{% endblock %}
			<pre>{{ debug }}</pre>
			
			</div>
			
			<div id="footer">
			
			<div id="created_by">
				Created by <a href="http://www.boroninhome.com">Alexei Boronine</a>.
			</div>
			
			</div>
			<div id="clearall"></div>
		</div>
		<!--
		<div id="vortaro">
		<div id="vortaro-title">Double-click any word for instant translation<img src="/media/load.gif" style="float:right;visibility:hidden" id="load"/></div>
		<div id="vortaro-definition"></div>
		</div>
		-->
	<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-11052697-1");
pageTracker._trackPageview();
} catch(err) {}</script>
	</body>
</html>
