{% extends "base.html" %}

{% block title %}Contribute{% endblock %}

{% block content %}
<h1>The website</h1>
<p>If you are a <a href="http://python.org/">Python</a> programmer familiar with the <a href="http://djangoprogect.com">Django</a> framework, you can contribute to the <a href="http://github.com/alexeiboronine/libraro">project on github</a>. All changes are committed to the github project and then pulled to my hosting account. The wiki on github contains information on how to set up a development environment.</p>

<p>Please <a href="mailto:alexei.boronine@gmail.com">email</a> me to report problems and share suggestions.</p>

<h1>The content</h1>

<p>This website needs a &#8220;Learn&#8221; section, containing a concise collection of articles on Esperanto&#8217;s grammar. It is not a top priority for me, so I would be glad if someone gave me a hand creating it. If you send me articles, I will format them and put them online. Found, written from scratch or modified&#8212;they have to be in the public domain or licenced to be free to use both non-commercially and commercially.</p>

<p>If you would like a certain text to appear on this website, please <a href="mailto:alexei.boronine@gmail.com">email</a> me with a link or an included file. The preferred formats are <a href="http://en.wikipedia.org/wiki/Html">HTML</a> and <a href="http://en.wikipedia.org/wiki/FictionBook">FB2</a>.</p>

<h1>Donate</h1>

<p>This website is free, its source code is <a href="http://github.com/alexeiboronine/libraro">open</a>, it has no advertisements. It is a product of many hours of work. If you found this website useful, you can make a donation using PayPal <a href="http://pledgie.com/campaigns/7031">here</a>.</p>

{% endblock %} 

